.App {  
  height: auto;
  background: linear-gradient(180deg, white, rgb(186, 170, 225),rgb(237, 118, 213)); 
}
.card{
  height: 400px;
}
.MypageBanner{
  width: 100%;
  height: 300px;
}
.Mypagedate{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: bisque;
}
.MypageNav{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:darkgray;
  font-weight: bold;
  font-size: large;
}
.Avatar{
  position: absolute;
  top: 110px;
  left: 50px;
}
.canvasimg{
  width: 50px;
  height: 50px;
  border: solid;
  border-width: 5px;
  border-color: #d3d7d9;
  border-radius: 10ch; 
}
.Avatarimg{
  width: 200px;
  height: 200px;
  border: solid;
  border-width: 5px;
  border-color: #d3d7d9;
  border-radius: 10ch; 
}
.MetaMask {
  text-align: right;
  border: dotted;
  background-color: #61dafb;
}
.Logo {
  width: 100px;
  height: 100px;
}
.Mint {
  border: dotted;
  background-color: cornflowerblue;
}

.Sum {
  text-align: center;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.inner-addon { 
  position: relative; 
}

/* style icon */
.inner-addon .search {
position: absolute;
padding: 10px;
pointer-events: none;
}

/* align icon */
.left-addon .search  { left:  0px;}
.right-addon .search { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } 
}
